### Save all ball trajectory data

In [1]:
import json
import pandas as pd
import os
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option("max_rows", None)

# --> Import functions from "process_trajectory_data" script
import sys
sys.path.append('../src')

from process_trajectory_data import save_trajectory_data_one_rally, get_match_point_ball_trajectory_data

In [2]:
# Open one tracking json file
with open('../all_json/roland_garros/atp/atp_rg_year_2019_SM001_tracking_data.json') as filename:
    atp_tracking_data_json = json.load(filename)

#with open('./all_json/roland_garros/atp/atp_rg_qual_year_2020_QM019_tracking_data.json') as filename:
#  atp_tracking_data_json = json.load(filename)
#atp_tracking_data_json['courtVisionData'][0]['pointsData']

save_trajectory_data_one_rally(atp_tracking_data_json['courtVisionData'][0]['pointsData']['2_1_2_1'])

,x,y,z,position,strike_index,point_ID,set_num,game_num,point_num,serve_num
0,-11.218,1.433,2.783,hit,1,2_1_2_1,2,1,2,1
1,-11.218,1.433,2.783,peak,1,2_1_2_1,2,1,2,1
2,0.000,-2.288,1.037,net,1,2_1_2_1,2,1,2,1
3,4.483,-3.672,0.032,bounce,1,2_1_2_1,2,1,2,1
4,17.703,-7.741,1.157,last,1,2_1_2_1,2,1,2,1

In [3]:
test_trajectory = get_match_point_ball_trajectory_data(atp_tracking_data_json)
#test_trajectory.reset_index(drop = True)
test_trajectory.head(10)

,point_ID,set_num,game_num,point_num,serve_num,strike_index,position,x,y,z
0,1_1_1_1,1,1,1,1,1,hit,-11.602,-0.541,2.916
1,1_1_1_1,1,1,1,1,1,peak,-11.602,-0.541,2.916
2,1_1_1_1,1,1,1,1,1,net,0.000,0.301,0.975
3,1_1_1_1,1,1,1,1,1,bounce,4.243,0.479,0.035
4,1_1_1_1,1,1,1,1,2,hit,16.702,0.932,1.156
5,1_1_1_1,1,1,1,1,2,peak,6.075,-0.244,2.002
6,1_1_1_1,1,1,1,1,2,net,0.000,-1.138,1.653
7,1_1_1_1,1,1,1,1,2,bounce,-7.624,-2.472,0.044
8,1_1_1_1,1,1,1,1,2,peak,-12.272,-3.295,1.054
9,1_1_1_1,1,1,1,1,3,hit,-12.663,-3.368,1.046

In [4]:
#tournament_list = ['roland_garros', 'australian_open']
#league_list = ['atp', 'wta']

tournament_list = ['roland_garros', 'australian_open']
league_list = ['atp', 'wta']

for tournament in tournament_list:
    for league in league_list:
        dir_name = '../all_json/' + tournament + '/' + league + '/'
        
        for filename in os.listdir(dir_name):
            if filename.endswith(".json"):
                
                #print(filename)
                with open(dir_name + filename) as file_name:
                    tracking_data_json = json.load(file_name)
                    file_year = [int(s) for s in filename.split('_') if s.isdigit()]
                    match_id = filename[17:-19]
                    match_rally_data =  get_match_point_ball_trajectory_data(tracking_data_json)

                    save_data_filename = league + '_' + tournament + '_' + str(file_year[0]) + match_id + '_ball_trajectory' + '.csv'  
                    
                    match_rally_data.to_csv(save_data_filename, index = False)
        
            else:
                continue